@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');

body {
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', 'sans-serif';
}

.modal {
  display: none;
  position: absolute;
  z-index: 2;
  width: 100vw;
  min-height: 100vh;
  background: rgba(200,200,200, 0.7);
  align-content: center;
  margin: 0;
}

.cardModal {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #adadad;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #000;
  margin: auto;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.cardModal > h1 {
  font-weight: bold;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
  background-image: url(../img/fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #636168;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow:  0px 10px 40px #ffffff56;
  outline: none;
  box-sizing: border-box;
}

.textfield > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.textfield > input::placeholder {
  color: #f0ffff94;
}

.btn-login, .btn-modal {
  width: 100%;
  padding: 16px 5px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #f84027;
  background: #f2f5f4;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px ;
  text-shadow: 1px 1px #c90808;
}
.btn-login:hover, .btn-modal:hover {
  background: #bbbaba;
}

.btn-modal {
  width: auto;
  margin-left: 10px;
}

.left-login {
  height: 100vh;
}

.right-login {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login, .cardModal {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #79787c;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1, .cardModal > h1 {
  color: #f8f6f6;
  font-weight: 800;
  margin: 0;
  text-shadow: 2px 2px 4px #fa3030;
}
